<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.webix.com/edge/webix.css" type="text/css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdn.webix.com/edge/webix.js" type="text/javascript"></script>
    <script src="index_script.js"></script>
    <title>Social Wiki</title>
</head>
<body>
    <style>
        .label_text {
            font-weight: 800;
            font-size: large;
        }
        .label_error {
            font-weight: 900;
            font-size: larger;
            color: red;
        }
        .label_big{
            font-weight: 800;
            font-size: xx-large;
        }
        .label_indexNorm{
            font-weight: 400;
            font-size: x-large;
            color: darkslategrey;
        }
    </style>
</body>
</html>