<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="lib/webix.css" type="text/css"/>
    <link rel="stylesheet" href="general.css" type="text/css"/>
    <script src="lib/jquery.min.js"></script>
    <script src="lib/webix.js" type="text/javascript"></script>
    <script src="util.js"></script>
    <script src="general_page.js"></script>
    <script src="index_script.js"></script>
    <title>Social Wiki</title>
</head>
<body>
</body>
</html>
